/* DatePicker.module.css */
.datePicker {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
  }
  
  .datePicker:hover {
    border: 1px solid rgba(0, 0, 0, 0.87);
  }
  
  .datePicker input {
    border: none;
    margin-left: 8px;
  }